<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Traffic Loader</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/loader.css') }}">
</head>
<body>
    <div style="display: flex; justify-content: center; align-items: flex-end; height: 40vh;">
        <h1 class = "loading-text">Loading...</h1>
    </div>

    <div style="display: flex; justify-content: center; align-items: flex-start; height: 20vh;">
        <div class="traffic-loader">
    <div class="light red"></div>
    <div class="light yellow"></div>
    <div class="light green"></div>
</div>

    </div>

</body>
</html>

