.traffic-loader {
    width: 70px;
    background: #333;
    padding: 20px 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    animation: float 2s infinite ease-in-out;
}

.light {
    width: 40px;
    height: 40px;
    background: #444;
    border-radius: 50%;
    opacity: 0.2;
    animation: glow 1.5s infinite;
}

.red {
    animation-delay: 0s;
    background: red;
}

.yellow {
    animation-delay: 0.5s;
    background: yellow;
}

.green {
    animation-delay: 1s;
    background: green;
}

@keyframes glow {
    0%, 100% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
        box-shadow: 0 0 15px currentColor;
    }
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

.loading-text {
    font-size: 30px;
    font-weight: 600;
    color: #004dab;
    text-align: center;

    letter-spacing: 2px;
    text-transform: uppercase;
}

