body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f2f4f7;
}

.container {
    display: flex;
    padding: 20px;
    gap: 20px;
}

/* LEFT SIDE COLUMN */
.left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* RIGHT SIDE COLUMN */
.right-side {
    width: 50%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    height: 90vh;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.chart-content {
    height: 95%;
    border: 2px dashed #aaa;
    border-radius: 10px;
}

/* VIDEO BOX */
.video-box,
.traffic-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.traffic-box {
    margin-top: 9px;
}

.video-content {
    height: 40vh;
    background: #ddd;
    border-radius: 10px;
}

.traffic-content {
    height: 35vh;
    background: #eee;
    border-radius: 10px;
}

h3 {
    margin-top: 0;
}
