body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(to right, #65e1ca, #ACB6E5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.push-container {
    width: 350px;
    margin: 250px auto;
    background-color: rgb(97, 155, 216);
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.logocontainer img {
    margin-bottom: 20px;
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto 20px auto;
}

.form-group {
    margin-bottom: 15px;
    color: black;
    font-style: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}

.form-control {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
}

.btn-submit {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #055fbf;
    border: none;
    color: white;
    font-size: medium;
    /* font-weight: 600; */
    border-radius: 10px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* transition: background 0.3s; */
}

.btn-submit:hover {
    background-color: #125296;
}

.flash-messages {
    margin-bottom: 15px;
}

.alert.success {
    color: green;
    background-color: #d4edda;
    padding: 10px;
    border-radius: 4px;
}
.alert.danger {
    color: red;
}